---
import { CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const presentations = await getCollection('presentation');

  return presentations.map((presentation) => ({
    params: { slug: presentation.slug },
    props: { presentation },
  }));
}

interface Props {
  presentation: CollectionEntry<'presentation'>;
}

const { presentation } = Astro.props;
const { Content } = await presentation.render();
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{presentation.data.title || 'Presentation'} - {presentation.data.author || 'Unknown'}</title>
</head>
<body>
  <div id="presentation">
    <Content />
  </div>
</body>
</html>
